@charset "utf-8";
/* CSS Document */

body {
  font-size: 20px;
  color: black;
  background-color: #f8f9fa;
  /* font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", Verdana, "sans-serif"; */

  font-family: "Playfair Display", serif;
  /* font-family: "Cinzel", serif; */
  font-size: 16px; /* Better for readability */
  line-height: 1.6;
}

#title {
  font-size: 50px;
  color: green;
}

#dtitle {
  color: white;
  font-size: 32px;
  text-shadow: 2px 2px #222;
}

#dmotto {
  margin-top: -10px;
}

/*START OF this is for the Carousel*/
.mySlides {
  width: 100%;
  height: 30vw;
  overflow: hidden;
}
#dcarousel_content {
  width: 100%;
  height: 30vw;
  background-color: #004d33;
}
#dcarousel_content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 0%;
}
#dcarousel_content h1 {
  text-shadow: 0px 2px 7px #000;
}
#dcarousel_indicators {
  width: 100%;
  z-index: 100;
  padding-bottom: 20px;
  cursor: pointer;
}

/*this is what changes the background of the carousel*/
.dcarousel_overlay {
  height: 100%;
  width: 100%;
  opacity: 0.75;
  background-color: #003366;
  position: absolute;
  left: 0;
  top: 0;
}
.dcarousel_overlay:hover {
  opacity: 0;
}

.slideimage {
  opacity: 0.25;
}
.slideimage:hover {
  opacity: 1;
}
/*this is the end of what changes the background of the carousel*/

/*END OF this is for the Carousel*/

.team {
  width: 360px;
  /* height: 450px; */
  overflow: auto;
  background-color: lightgray;
  box-shadow: 2px 2px 15px 3px #aaa;
  margin: 7px 12px;
  display: inline-block;
  background: linear-gradient(to bottom, white, #f0f4f8);
  border-top: 4px solid #ffd700;
}

.superior {
  text-align: center;
}
.amanda {
  text-align: left;
  padding: 0px 15px 10px 15px;
  font-size: 18px;
  line-height: 110%;
  margin-top: 4px;
  margin-bottom: 8px;
}
.precious {
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 5px #222;
}

.anne {
  font-size: 150px;
  color: #d97fd8;
  text-shadow: 2px 2px 5px #222;
}
#HCA2 {
  float: left;
}

#photogallery {
  width: 100%;
}

#photogallery img {
  width: 30%;
  margin: 7px 5px;
  border: 7px solid #ddd;
  box-shadow: 2px 3px 15px 2px #777;
  transition: 7s;
}

#toptext {
  position: relative;
}

#toptextchild {
  position: absolute;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1000px) {
  #Joe {
    display: none;
  }
  #photogallery img {
    width: 45%;
  }
}
@media only screen and (max-width: 700px) {
  #photogallery img {
    width: 90%;
  }
  .slideimage {
    max-height: 600px;
  }

  @media (max-width: 600px) {
    .slideimage {
      max-height: 400px;
    }
  }
}
.hero_slide_image {
  max-height: 600px;
}

@media (max-width: 600px) {
  .hero_slide_image {
    max-height: 400px;
  }
  .Mission {
    width: 10rem;
  }
}
#hero_carousel_indicators {
  display: none;
}
.Mission {
  width: 40rem;
}
@media (max-width: 600px) {
  .Mission {
    width: 20rem;
  }
}
